<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./manager.css" />
    <title>Title</title>
  </head>
  <body>
    <main id="app" class="mx-2 d-flex flex-row">
      <section class="col-6">
        <h1 class="my-3">Client Manager</h1>
        <form
          class="d-flex justify-content-center flex-column"
          @submit.prevent="addClient()"
        >
          <div class="mb-3">
            <label for="exampleInputName" class="form-label">First Name</label>
            <input
              type="text"
              v-model="clientData.firstName"
              class="form-control"
              id="exampleInputName"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputLastName" class="form-label"
              >Last Name</label
            >
            <input
              type="text"
              v-model="clientData.lastName"
              class="form-control"
              id="exampleInputLastName"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              v-model="clientData.email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <button type="submit" class="btn bg-primary col-3 text-white">
            Add client
          </button>
        </form>

        <h2 class="my-5">Client List</h2>
        <div>
          <table class="table text-center">
            <thead>
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="client of clients">
                <td>{{client.firstName}}</td>
                <td>{{client.lastName}}</td>
                <td>{{client.email}}</td>
                <td>
                  <button
                    class="btn btn-danger"
                    @click="deleteClients(client._links.client.href)"
                  >
                    X
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section class="col-6">
        <h2>Client REST response</h2>
        <div><pre>{{restResponse}}</pre></div>
      </section>
    </main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./manager.js"></script>
  </body>
</html>
