* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  min-height: 8vh !important;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white !important;
}
/* .div-nav {
  width: 1240px;
} */
nav {
  background-color: white !important;
}
.img-logo {
  width: 50px !important;
}

th {
  background-color: rgb(65, 110, 233) !important;
  color: white !important;
  border: 1px solid white !important;
  border-radius: 0.5rem !important;
}
.div-nav {
  width: 1240px;
}
.bi,
.bi-list {
  width: 10rem !important;
}

header {
  background-color: #ffffff !important;
  margin-bottom: 5rem !important;
}

.p-menu {
  margin-bottom: 0;
}

.div-h2 {
  background-color: rgb(65, 110, 233);
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 1rem 0rem 1rem 0rem;
}
.ancors-nav {
  font-size: 1rem !important;
  color: rgb(88, 88, 88) !important;
}
.ancors-nav:hover {
  border-bottom: 2px solid rgb(65, 110, 233) !important;
  padding-bottom: 1rem !important;
}
.ancors-nav-selected {
  border-bottom: 2px solid rgb(65, 110, 233) !important;
  color: rgb(65, 110, 233) !important;
  padding-bottom: 1rem !important;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.img-carousel {
  width: 500px !important;
}
.img-carousel-w {
  height: 375px !important;
}

.section-carousel {
  min-height: 50vh !important;
}

.div-h1 {
  width: 500px !important;
  max-height: 300px !important;
}
.div-h1 > h1 {
  font-size: 3.5rem;
}

.text-h1 {
  color: rgb(65, 110, 233);
}

.img-store {
  width: 150px !important;
}

.container-ramosbank-info {
  width: 650px;
  height: 450px;
  border-radius: 20px;
  margin-top: 0;
  padding: 40px;
  background-color: rgb(65, 110, 233) !important;
}
.container-ramosbank-info2 {
  width: 650px;
  height: 450px;
  border-radius: 20px;
  margin-top: 0;
  padding: 40px;
  background-color: rgb(13, 22, 48) !important;
}
/* footer */
footer {
  min-height: 4vh !important;
  margin-top: 5rem !important;
}
.cardFooter {
  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(65, 110, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* ------------------------------------------------ */

.bi-info-circle {
  font-size: 1.7rem !important;
}

.section-account {
  background-color: rgb(31, 64, 156) !important;
  border-radius: 3rem !important;
}

.info-account {
  background-color: rgb(65, 110, 233) !important;
  border-style: none !important;
}

.div-info-account {
  margin-bottom: 5rem;
}

.section-info {
  margin-top: 5rem !important;
}

.container-community {
  background-color: rgb(65, 110, 233) !important;
  border-radius: 3rem;
  height: 55vh;
}

.img-emojis {
  width: 50rem !important;
}

.div-qr {
  background-color: white;
  border-radius: 10px;
  width: 150px !important;
  height: 135px !important;
}
.img-qr {
  width: 120px;
}

.footer-text {
  font-size: 12px;
  color: black;
}

.emoji-dolar {
  font-size: 2.5rem;
}
.text-pays {
  color: rgb(65, 110, 233);
}
.h2-safepays {
  font-size: 3rem;
}
.div-payservices {
  width: 600px;
}

.img-marcas {
  width: 300px;
}
.img-applepay {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.div-biometricsecurity {
  background-color: rgb(65, 110, 233);
  padding: 1rem;
  border-radius: 10px;
  min-height: 40vh;
  width: 30vw;
}

.bi-fingerprint {
  font-size: 2rem;
}

.img-transferencia {
  object-position: right !important;
  width: 300px !important;
}
.img-datosbiometricos {
  width: 300px;
  height: 150px;
  border-radius: 10px;
}

/* -----------------------------------------*/

/* MEDIA QUERIES */

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .section-carousel {
    display: flex !important;
    flex-direction: column !important;
  }
  .container-ramosbank-info,
  .container-ramosbank-info2 {
    width: 320px !important;
    min-height: 550px !important;
  }
  .container-ramosbank-info > span {
    width: 320px !important;
    flex-direction: column !important;
    align-items: center;
    display: flex;
    margin: 0 !important;
  }
  .img-carousel {
    width: 320px !important;
  }
  .img-applepay {
    width: 320px !important;
    height: 200px !important;
  }
  .img-emojis {
    width: 280px !important;
  }
  .div-h1 {
    width: 320px !important;
    margin-bottom: 5rem !important;
  }
  .container-div-biometric {
    display: flex !important;
    flex-direction: column !important;
  }
  .div-biometricsecurity {
    width: 300px !important;
  }
  .img-transferencia {
    width: 280px !important;
  }
  .div-payservices {
    display: flex !important;
    flex-direction: column !important;
    width: 320px !important;
  }
  .h2-payservices {
    width: 320px !important;
  }
  .container-community {
    padding: 10px !important;
    width: 320px !important;
  }

  .h2-index {
    font-size: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  nav,
  header {
    width: 100%;
  }
  .section-carousel {
    display: flex !important;
    flex-direction: column !important;
  }
  .img-carousel {
    width: 576px !important;
  }

  .container-ramosbank-info,
  .container-ramosbank-info2 {
    width: 550px !important;
    min-height: 450px !important;
  }
  .container-ramosbank-info > span {
    width: 550px !important;
    flex-direction: column !important;
    align-items: center;
    display: flex;
    margin: 0 !important;
  }
  .container-div-biometric {
    flex-direction: column !important;
    display: flex !important;
  }
  .img-applepay {
    width: 576px !important;
    height: 350px !important;
  }
  .img-emojis {
    width: 400px !important;
  }
  .div-h1 {
    width: 75% !important;
    margin-bottom: 5rem !important;
  }
  .container-div-biometric {
    display: flex !important;
  }
  .div-biometricsecurity {
    width: 320px !important;
  }
  .img-transferencia {
    width: 300px !important;
  }
  .div-payservices {
    display: flex !important;
    flex-direction: column !important;
    width: 576px !important;
  }
  .h2-payservices {
    width: 576px !important;
  }
  .container-community {
    padding: 10px !important;
    width: 576px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  nav,
  header {
    width: 100%;
  }
  .section-carousel {
    display: flex !important;
    flex-direction: column !important;
  }
  .img-carousel {
    width: 576px !important;
  }
  .img-applepay {
    width: 576px !important;
    height: 350px !important;
  }
  .img-emojis {
    width: 400px !important;
  }
  .div-h1 {
    width: 75% !important;
    margin-bottom: 5rem !important;
  }
  .container-div-biometric {
    display: flex !important;
  }
  .div-biometricsecurity {
    width: 320px !important;
  }
  .img-transferencia {
    width: 300px !important;
  }
  .div-payservices {
    display: flex !important;
    flex-direction: column !important;
    width: 576px !important;
  }
  .h2-payservices {
    width: 576px !important;
  }
  .container-community {
    padding: 10px !important;
    width: 576px !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .img-transferencia {
    width: 400px !important;
  }
  .div-biometricsecurity {
    width: 490px !important;
  }
  .img-emojis {
    width: 500px !important;
  }
}

@media only screen and (min-width: 1025px) {
  .img-transferencia {
    width: 400px !important;
  }
  .div-biometricsecurity {
    width: 490px !important;
  }
  .img-emojis {
    width: 700px !important;
  }
  .img-applepay {
    width: 100% !important;
  }
}
