* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  min-height: 8vh !important;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white !important;
}
/* .div-nav {
    width: 1240px;
  } */
nav {
  background-color: white !important;
}
.img-logo {
  width: 50px !important;
}

th {
  background-color: rgb(65, 110, 233) !important;
  color: white !important;
  border: 1px solid white !important;
  border-radius: 0.5rem !important;
}
.div-nav {
  width: 1240px;
}
.bi,
.bi-list {
  width: 10rem !important;
}

header {
  background-color: #ffffff !important;
  margin-bottom: 5rem !important;
}

.p-menu {
  margin-bottom: 0;
}

.div-h2 {
  background-color: rgb(65, 110, 233);
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 1rem 0rem 1rem 0rem;
}
.ancors-nav {
  font-size: 1rem !important;
  color: rgb(88, 88, 88) !important;
}
.ancors-nav:hover {
  border-bottom: 2px solid rgb(65, 110, 233) !important;
  padding-bottom: 1rem !important;
}
.ancors-nav-selected {
  border-bottom: 2px solid rgb(65, 110, 233) !important;
  color: rgb(65, 110, 233) !important;
  padding-bottom: 1rem !important;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

footer {
  min-height: 4vh !important;
  margin-top: 5rem !important;
}
.cardFooter {
  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(65, 110, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.footer-text {
  font-size: 12px;
  color: black;
}
/* ---------------------------------------------- */
.text-h1 {
  color: rgb(65, 110, 233);
}
.container-transfer {
  background-color: rgb(65, 110, 233) !important;
  border-radius: 3rem;
  min-height: 60vh;
}

.form-container {
  width: 30rem;
  border-radius: 0.75rem;
  background-color: rgb(65, 110, 233);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1.5rem;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
  font-size: 22px;
}

.input {
  background: transparent;
  border: none;
  width: 100%;
  height: 50px;
  color: rgb(29, 29, 29) !important;
  border: 1px solid transparent;
  background: rgba(255, 255, 255);
  border-radius: 20px !important;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.input-amount {
  background: transparent;
  border: none;
  width: 100%;
  height: 25px;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 20px !important;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.input:focus,
.input:hover {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.4);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
  color: rgb(61, 105, 214);
}

.sign {
  display: block;
  width: 100%;
  background-color: white;
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem !important;
  font-weight: 600;
  text-decoration: none;
}
.sign:hover {
  background-color: rgb(150, 150, 150);
}

.signup {
  text-align: center;
  font-size: 1rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

.login-container {
  height: 95vh;
}

.logoForm {
  width: 50px;
}

.input-cards {
  font-size: 18px;
}

.select-card {
  width: 50%;
  height: 30px;
  border-radius: 1px !important;
  background-color: rgb(19, 29, 56);
  color: white;
  border-style: none;
}

/* modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  display: flex;
  flex-direction: column !important;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30rem !important;
  height: 12rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.logo-card {
  width: 50px !important;
  height: 50px !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #ffffff;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  width: 100%;
  height: 3em;
  color: #202020;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #a7a7a7;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: rgb(31, 64, 156);
}
/* media queries */

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .container-transfer {
    width: 320px !important;
  }
  form {
    padding: 10px !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .container-transfer {
    width: 576px !important;
  }
  form {
    padding: 10px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container-transfer {
    width: 576px !important;
  }
  form {
    padding: 10px !important;
  }
}
